In [2]:
import pandas as pd
import numpy as np
import json

In [2]:
df= pd.read_csv('./data/raw/conf_onu_agua.csv')
df[['field-content']]

                                        field-content
0                           Proyecto Delta de la IAAS
1            Compromiso de Salud Menstrual y Dignidad
2   Mapas de lluvia oportunos y precisos para el Á...
3   Acelerar el ODS 6 de la ONU en los mercados pú...
4   Mejor información global sobre el agua a travé...
5             Incubadora de proyectos de agua y clima
6   Asociación para la Acción: Promoción de la coo...
7          Fondo de Seguridad Hídrica Thomas Schumann
8                        Seguridad hídrica para todos
9                     Asociación NDC, Nexo Agua-Clima
10  La Conferencia Agua y Salud de la UNC: un meca...
11  Promover y apoyar la gestión integrada de los ...
12      Cuadro de Mando de Inversión en Agua AIP-PIDA
13  Resultados de WASH en el Área de Meta 4 del Pl...
14  Construir comunidades de práctica para promove...
15  Servicio de asistencia de GIRH: Proporcione a ...
16  Acelerar la cooperación en materia de aguas tr...
17  Coalición de Cooperación de Aguas Transfronter...

In [3]:
df_embalses = pd.read_csv('./data/raw/estado_emblases_espana.csv')
df_embalses

,Demarcación hidrográfica,Capacidad total,Volumen actual,Porcentaje,Año anterior,Media 10 años
0,Galicia-Costa,684,578,85,479,566
1,Cantábrico Occidental,490,403,82,334,452
2,Cantábrico Oriental,73,59,81,69,67
3,Cuencas Internas del País Vasco,21,16,76,21,19
4,Miño-Sil,3030,2269,75,1675,2378
5,"Tinto, Odiel y Piedras",229,155,68,184,195
6,Duero,7507,5045,67,4346,5950
7,Tajo,11056,6629,60,5580,7267
8,Júcar,2846,1692,59,1870,1595
9,Ebro,7963,4078,51,6086,6162
10,Cuenca Mediterránea Andaluza,1174,413,35,594,708
11,Segura,1140,386,34,514,555
12,Guadiana,9498,3122,33,3070,5740
13,Guadalete y Barbate,1651,442,27,609,1092
14,Cuencas Internas de Cataluña,677,173,26,405,565
15,Guadalquivir,8030,1957,24,2616,5109

In [4]:

df_embalses.describe(include='all').round(2)

,Demarcación hidrográfica,Capacidad total,Volumen actual,Porcentaje,Año anterior,Media 10 años
count,16,16.00,16.00,16.00,16.00,16.00
unique,16,NaN,NaN,NaN,NaN,NaN
top,Galicia-Costa,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,NaN,NaN,NaN
mean,NaN,3504.31,1713.56,55.19,1778.25,2401.25
std,NaN,3865.38,2028.17,22.25,2009.50,2633.92
min,NaN,21.00,16.00,24.00,21.00,19.00
25%,NaN,630.25,332.75,33.75,387.25,529.25
50%,NaN,1412.50,510.00,59.50,601.50,900.00
75%,NaN,7621.00,2482.25,75.25,2729.50,5266.75
max,NaN,11056.00,6629.00,85.00,6086.00,7267.00

In [5]:
df_servicios_agua = pd.read_csv('./data/raw/servicios_de_aguas.csv')
df_servicios_agua

,Ciudad,Población,Entidad gestora,Precio de abastecimiento (€/m3),Precio de saneamiento (€/m3),Precio total (€/m3)
0,Albacete,172426,Aguas de Albacete,"1,31","0,51","1,82"
1,Alicante,330525,Aguas de Alicante,"1,57","0,98","2,55"
2,Almería,194515,Aqualia,"1,25","0,54","1,79"
3,Avila,58083,Aqualia,"0,52","0,62","1,14"
4,Badajoz,149946,Aqualia,"1,17","0,58","1,75"
5,Barcelona,1608746,Aigües de Barcelona,"1,90","0,97","2,87"
6,Bilbao,345122,Consorcio de Aguas Bilbao Bizkaia,"0,85","0,88","1,73"
7,Burgos,176608,Aguas de Burgos,"0,62","0,53","1,15"
8,Castellón de la Plana,170990,FACSA,"0,64","0,70","1,34"
9,Ciudad Real,74057,Aquona,"0,86","0,59","1,45"
10,Cuenca,55102,Aguas de Cuenca,"0,68","0,74","1,42"
11,Cáceres,95814,Canal de Isabel II,"0,87","0,70","1,57"
12,Cádiz,118919,Aguas de Cádiz,"0,98","1,47","2,45"
13,Córdoba,326609,EMACSA,"1,29","0,55","1,84"
14,Gerona,98255,Aigües de Girona Salt I Sarriá de Ter,"0,68","0,99","1,67"
15,Granada,234758,Emasagra,"1,10","0,83","1,93"
16,Guadalajara,83633,Guadalagua,"0,49","0,41","0,90"
17,Huelva,145468,Aguas de Huelva,"1,21","1,15","2,36"
18,Huesca,52282,Ayuntamiento de Huesca,"0,66","0,97","1,63"
19,Jaén,114658,Aqualia,"1,19","0,45","1,64"
20,La Coruña,243978,Emalcsa,"0,71","0,65","1,36"
21,Las Palmas de Gran Canaria,378998,EMALSA,"1,86","0,27","2,13"
22,León,126192,Aguas de León,"0,54","0,75","1,29"
23,Logroño,150876,Ayuntamiento de Logroño,"0,62","0,75","1,37"
24,Lugo,98268,Ayuntamiento de Lugo,"0,66","0,47","1,13"
25,Lérida,138144,Aqualia,"1,17","1,04","2,21"
26,Madrid,3165541,Canal de Isabel II,"0,92","0,63","1,55"
27,Murcia,441003,EMUASA,"2,01","0,91","2,92"
28,Málaga,569009,EMASA,"1,10","0,66","1,76"
29,Orense,105893,Viaqua,"0,57","0,35","0,92"
30,Oviedo,220585,Ayuntamiento de Oviedo,"0,66","1,10","1,76"
31,Palencia,79137,Aquona,"0,45","0,38","0,83"
32,Palma de Mallorca,402949,EMAYA,"1,45","1,07","2,52"
33,Pamplona,201311,Mancomunidad de la Comarca de Pamplona,"0,50","0,83","1,33"
34,Pontevedra,82459,Viaqua,"0,68","0,71","1,39"
35,Salamanca,144949,Aqualia,"0,72","0,66","1,38"
36,San Sebastián,186064,Aguas del Añarbe,"0,59","0,59","1,18"
37,Santander,172656,Aqualia,"0,76","1,00","1,76"
38,Segovia,53257,Ayuntamiento de Segovia,"1,07","0,74","1,81"
39,Sevilla,690566,Emasesa,"1,09","1,16","2,25"
40,Soria,39171,Aguas de Soria,"0,46","0,50","0,96"
41,Tarragona,131094,Ematsa,"1,31","1,03","2,34"
42,Teruel,35564,Aguas de Teruel,"0,88","1,03","1,91"
43,Toledo,83459,TAGUS,"0,64","0,81","1,45"
44,Valencia,790201,Global Omnium,"1,15","1,00","2,15"
45,Valladolid,301876,AQUAVALL,"0,60","0,70","1,30"
46,Vitoria,244634,AMVISA,"0,58","0,51","1,09"
47,Zamora,63217,Aquona,"0,96","0,54","1,50"
48,Zaragoza,661108,Ayuntamiento de Zaragoza,"0,59","0,94","1,53"

In [6]:
df_servicios_agua.dtypes

Ciudad                             object
Población                           int64
Entidad gestora                    object
Precio de abastecimiento (€/m3)    object
Precio de saneamiento (€/m3)       object
Precio total (€/m3)                object
dtype: object

In [7]:
df_guadalquivir = pd.read_excel('./data/raw/guadalquivir_escasez.xlsx')
df_guadalquivir

,Nombre UTE,Código UTE,Máximo de la serie (hm3 ),% de llenado respecto al máximo,Indicador,Escenario
0,Guadiamar,UTE 0101,20.3,0.74,0.3710,Prealerta
1,Madre de las Marismas (*),UTE 0102,1100,0.2633,0.1250,Alerta
2,Rivera de Huelva,UTE 0201,641,0.3981,0.2590,Alerta
3,Rivera de Huesna,UTE 0202,135,0.4066,0.4060,Prealerta
4,Abastecimiento de Córdoba,UTE 0301,146,0.3775,0.3190,Prealerta
5,Abastecimiento de Jaén,UTE 0401,30,0.2792,0.2300,Alerta
6,Hova de Guadix (**),UTE 0501,51,0.1077,0.1870,Alerta
7,Bermejales (**),UTE 0601,103,0.1376,0.2540,Alerta
8,Vega Alta y Media de Granada(**),UTE 0602,81,0.5447,0.3211,Prealerta
9,Vega Baja de Granada(**),UTE 0603,244,0.2695,0.2650,Alerta
10,Regulación General(**),UTE 0701,5150,0.1743,0.1420,Emergencia
11,Dañador,UTE 0702,4.3,88.95,0.3410,Prealerta
12,Aguascebas,UTE 0703,6.4,0.8851,0.7940,Normalidad
13,Fresneda,UTE 0704,13.2,0.6043,0.2990,Prealerta
14,Martín Gonzalo,UTE 0705,18.2,0.2195,0.1070,Emergencia
15,Montoro-Puertollano,UTE 0706,105,0.3367,0.2100,Alerta
16,Sierra Boyera,UTE 0707,41,0.001,0.0000,Emergencia
17,Viar(**),UTE 0708,212,0.1484,0.2230,Alerta
18,Rumblar(**),UTE 0709,126,0.2197,0.2450,Alerta
19,Guadalentín(**),UTE 0710,56,0.1925,0.2740,Prealerta
20,Guardal(**),UTE 0711,46,0.1354,0.1520,Alerta
21,Guadalmellato(***),UTE 0712,156.5,0.4378,0.1420,Emergencia
22,Bembézar-Retortillo(**),UTE 0801,408,0.1508,0.1480,Emergencia
23,Ceuta,UTE 01,N.D,N.D,1.0000,Normalidad
24,Melilla,UTE 01,N.D,N.D,0.5000,Prealerta

In [8]:
print(df_guadalquivir.dtypes)

Nombre UTE                          object
Código UTE                          object
Máximo de la serie (hm3 )           object
% de llenado respecto al máximo     object
Indicador                          float64
Escenario                           object
dtype: object

In [9]:
df_suministros_CCAA = pd.read_excel('./data/raw/Suministro_y_saneamiento_agua_CCAA_2000_2020.xlsx', parse_dates=True)
df_suministros_CCAA

,Provincia,2020,2018,2016,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Total Nacional,3238172,3178653,3553637,3599437,3735690,3562119,3391477,3635655,3739127,3757106,3762619,3840220,4066341,4193613,4214160,4105632,4183657,4013562
1,Andalucía,590918,600535,612671,583899,640220,610179,562323,573925,625878,550577,586986,678959,779698,772806,676710,708812,706776,628876
2,Aragón,128134,108880,248544,241843,180839,233520,93312,94799,103556,85417,75108,70171,126266,108115,105481,76605,65260,60601
3,"Asturias, Principado de",91023,73899,97907,161706,207539,147135,149213,158505,151757,128118,122445,84198,130126,116525,91384,89914,87224,79780
4,"Balears, Illes",75897,96072,92817,110406,108873,61926,69586,80421,79502,86700,81271,74892,85626,87807,67102,68206,61732,76210
5,Canarias,156629,136016,136565,138593,115299,127247,133361,145573,140050,139390,172922,129549,130237,135486,127948,126601,104166,107453
6,Cantabria,41199,35157,38358,41724,40043,43030,42131,45382,50832,28945,41944,25109,65710,63672,80176,78256,76922,76781
7,Castilla y León,230607,213609,315365,340776,393211,332531,342737,326171,312727,242010,209024,246166,256304,271036,318827,271564,264040,261795
8,Castilla - La Mancha,131445,138189,102584,138146,147903,135389,147780,188302,228535,201899,202008,196514,203566,204371,210704,162963,194800,209151
9,Cataluña,338873,342028,349615,337839,361223,374318,349767,363331,333537,359880,379267,469113,408721,441987,459409,535523,586560,592703
10,Comunitat Valenciana,350462,357494,429249,309838,311943,295133,291395,432398,457767,566963,511297,444084,376879,422698,488781,447854,445714,462956
11,Extremadura,55130,41486,48979,91032,94318,87525,85477,94241,99202,142113,150332,150372,159294,155002,86199,101186,120736,132168
12,Galicia,242372,231353,257881,281447,282643,282964,259478,272322,267991,261077,255990,250852,264953,295526,307761,305066,301919,299400
13,"Madrid, Comunidad de",491489,479871,488107,497023,499229,529064,554955,538918,558961,561008,573471,636492,650420,662176,670955,621029,630208,605600
14,"Murcia, Región de",14123,15440,14608,12675,11979,10472,15532,17215,17512,31953,75874,35562,43133,52933,62867,64329,77316,43880
15,"Navarra, Comunidad Foral de",64852,65045,120297,53020,55524,63103,76606,53376,48540,68008,61458,69459,73010,58992,76528,70206,68029,67527
16,País Vasco,177383,182046,137745,210173,221247,172632,165198,187157,194880,223644,206858,218272,253835,285251,318494,310034,329469,244038
17,"Rioja, La",41194,47524,41672,43427,57909,48748,49252,49425,53475,62857,36557,40379,46457,40700,43887,50511,44854,46820
18,Ceuta y Melilla,16442,14009,20673,5870,5748,7203,3374,14194,14425,16547,19807,20077,12106,18530,20947,16973,17932,17823

In [10]:
df_suministros_CCAA.to_csv('./data/processed/suministro_y_saneamiento_agua_CCAA_2000-2020', index=False)

In [11]:
df_suministros_CCAA.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19 entries, 0 to 18
Data columns (total 19 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Provincia  19 non-null     object
 1   2020       19 non-null     int64
 2   2018       19 non-null     int64
 3   2016       19 non-null     int64
 4   2014       19 non-null     int64
 5   2013       19 non-null     int64
 6   2012       19 non-null     int64
 7   2011       19 non-null     int64
 8   2010       19 non-null     int64
 9   2009       19 non-null     int64
 10  2008       19 non-null     int64
 11  2007       19 non-null     int64
 12  2006       19 non-null     int64
 13  2005       19 non-null     int64
 14  2004       19 non-null     int64
 15  2003       19 non-null     int64
 16  2002       19 non-null     int64
 17  2001       19 non-null     int64
 18  2000       19 non-null     int64
dtypes: int64(18), object(1)
memory usage: 2.9+ KB

In [12]:
df_suministros_CCAA_csv = pd.read_csv('./data/processed/suministro_y_saneamiento_agua_CCAA_2000-2020', parse_dates=True)
df_suministros_CCAA_csv

,Provincia,2020,2018,2016,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Total Nacional,3238172,3178653,3553637,3599437,3735690,3562119,3391477,3635655,3739127,3757106,3762619,3840220,4066341,4193613,4214160,4105632,4183657,4013562
1,Andalucía,590918,600535,612671,583899,640220,610179,562323,573925,625878,550577,586986,678959,779698,772806,676710,708812,706776,628876
2,Aragón,128134,108880,248544,241843,180839,233520,93312,94799,103556,85417,75108,70171,126266,108115,105481,76605,65260,60601
3,"Asturias, Principado de",91023,73899,97907,161706,207539,147135,149213,158505,151757,128118,122445,84198,130126,116525,91384,89914,87224,79780
4,"Balears, Illes",75897,96072,92817,110406,108873,61926,69586,80421,79502,86700,81271,74892,85626,87807,67102,68206,61732,76210
5,Canarias,156629,136016,136565,138593,115299,127247,133361,145573,140050,139390,172922,129549,130237,135486,127948,126601,104166,107453
6,Cantabria,41199,35157,38358,41724,40043,43030,42131,45382,50832,28945,41944,25109,65710,63672,80176,78256,76922,76781
7,Castilla y León,230607,213609,315365,340776,393211,332531,342737,326171,312727,242010,209024,246166,256304,271036,318827,271564,264040,261795
8,Castilla - La Mancha,131445,138189,102584,138146,147903,135389,147780,188302,228535,201899,202008,196514,203566,204371,210704,162963,194800,209151
9,Cataluña,338873,342028,349615,337839,361223,374318,349767,363331,333537,359880,379267,469113,408721,441987,459409,535523,586560,592703
10,Comunitat Valenciana,350462,357494,429249,309838,311943,295133,291395,432398,457767,566963,511297,444084,376879,422698,488781,447854,445714,462956
11,Extremadura,55130,41486,48979,91032,94318,87525,85477,94241,99202,142113,150332,150372,159294,155002,86199,101186,120736,132168
12,Galicia,242372,231353,257881,281447,282643,282964,259478,272322,267991,261077,255990,250852,264953,295526,307761,305066,301919,299400
13,"Madrid, Comunidad de",491489,479871,488107,497023,499229,529064,554955,538918,558961,561008,573471,636492,650420,662176,670955,621029,630208,605600
14,"Murcia, Región de",14123,15440,14608,12675,11979,10472,15532,17215,17512,31953,75874,35562,43133,52933,62867,64329,77316,43880
15,"Navarra, Comunidad Foral de",64852,65045,120297,53020,55524,63103,76606,53376,48540,68008,61458,69459,73010,58992,76528,70206,68029,67527
16,País Vasco,177383,182046,137745,210173,221247,172632,165198,187157,194880,223644,206858,218272,253835,285251,318494,310034,329469,244038
17,"Rioja, La",41194,47524,41672,43427,57909,48748,49252,49425,53475,62857,36557,40379,46457,40700,43887,50511,44854,46820
18,Ceuta y Melilla,16442,14009,20673,5870,5748,7203,3374,14194,14425,16547,19807,20077,12106,18530,20947,16973,17932,17823

In [13]:
df_hogares_CCAA = pd.read_excel('./data/raw/agua_suministro_hogares_CCAA_2000-20.xlsx')
df_hogares_CCAA

,Provincia,2020,2018,2016,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Total Nacional,2290800,2271205,2297352,2237746,2217686,2308872,2384386,2412708,2493842,2539891,2543714,2615751,2673564,2700928,2602904,2511810,2459548,2482085
1,Andalucía,427534,392141,395574,386102,366154,389257,423304,429266,464854,460019,457745,513383,558838,530514,509637,501159,486530,490278
2,Aragón,64975,62011,65776,62877,62913,66288,63386,69125,71151,71233,66408,69844,70879,73914,75715,75452,76337,76235
3,"Asturias, Principado de",50363,52402,56898,51503,47317,49974,58760,61337,63915,68449,71313,72450,70926,67435,63320,62094,60018,59276
4,"Balears, Illes",51788,52131,55955,50653,57174,53045,49458,47470,49697,52986,50516,54919,49879,49518,44939,42567,38115,39759
5,Canarias,102162,108094,117518,110975,109755,115028,115258,113485,106810,116812,111901,102435,104171,102815,93370,90423,83329,86848
6,Cantabria,35176,36437,32789,32441,31010,32660,34045,36505,37837,39128,38809,41682,39225,37880,37118,35980,34023,36358
7,Castilla y León,126081,130224,135634,150370,144047,137251,154606,152316,148000,139558,139873,135312,146634,156624,152305,140703,130634,138730
8,Castilla - La Mancha,93902,99940,95378,94482,106503,108939,116529,113038,107545,111701,114730,117099,120222,120840,121778,120259,128203,118712
9,Cataluña,346443,337996,344628,318709,316533,337621,347007,354396,352091,367529,390880,390921,413627,432869,448967,432952,426217,426161
10,Comunitat Valenciana,289555,315744,292572,292516,285743,293361,277013,286121,317668,336757,323864,324894,293036,295284,265304,249908,237245,249685
11,Extremadura,46317,49199,50996,49882,56230,55277,56978,63359,64433,62185,73287,72462,68442,69886,63802,64754,65284,61080
12,Galicia,128276,123318,136274,128722,119906,133745,133212,132094,139027,145691,142479,160223,152756,155693,143213,130504,122460,127933
13,"Madrid, Comunidad de",317737,301111,312768,304840,304968,315483,327883,322800,333616,324291,331174,325035,345347,362438,346018,334134,338263,334798
14,"Murcia, Región de",82356,80697,70513,67354,66088,77271,81208,84266,87384,81921,82897,82941,78941,76110,68947,65186,66127,61007
15,"Navarra, Comunidad Foral de",28750,26798,25986,25757,26088,29374,30672,28889,30289,28878,27361,28079,28982,30745,32303,30798,29849,31599
16,País Vasco,77586,82150,88622,91899,97802,92471,91753,95564,97852,108694,96623,100174,108580,115853,114660,112832,114528,117751
17,"Rioja, La",14276,13259,13074,12180,12967,15219,14016,13950,15121,17190,17024,16600,15955,15113,14257,14355,14416,17978
18,Ceuta y Melilla,7523,7553,6397,6484,6488,6608,9298,8727,6552,6869,6830,7298,7124,7397,7251,7750,7970,7897

In [14]:
df_hogares_CCAA.to_csv('./data/processed/agua_hogares_CCAA_2000-2020', index=False)

In [15]:
df_facturada_CCAA = pd.read_excel('./data/raw/importe_facturado_agua_CCAA_2000-2020.xlsx')
df_facturada_CCAA.to_csv('./data/processed/importe_facturada_CCAA_2000-2020', index=False)

In [16]:
df_facturada_CCAA

,Provincia,2020,2018,2016,2014,2013,2012,2011,2010,2009,2008,2007,2006,2005,2004,2003,2002,2001,2000
0,Total Nacional,3618646,3612200,3740419,3537941,3495177,3445198,3216849,3121165,3090535,3027220,2837747,2775147,2678425,2647852,2579287,2352117,2219838,2121471
1,Andalucía,606998,569826,585314,588722,568896,556842,516303,497474,507945,479831,466132,487014,496013,490925,415142,335606,307133,257275
2,Aragón,69278,69808,76067,66984,66876,70291,57088,64153,65310,63538,56920,52012,46601,46238,52415,43647,40817,40472
3,"Asturias, Principado de",47120,48811,56977,47094,51294,52124,50834,48817,50008,52248,52864,50798,49559,49416,39337,35825,33366,27514
4,"Balears, Illes",110068,120215,120896,92655,94181,107856,94786,94294,93383,89879,84417,90525,94901,85075,71187,64551,53561,54770
5,Canarias,256335,253542,299082,248536,262430,257839,256871,238301,234812,256830,244769,220078,262567,242601,224083,218422,190879,191537
6,Cantabria,39687,42055,41058,47909,43375,42195,36549,34846,41684,32493,32393,32137,29051,28872,27881,23575,22698,21691
7,Castilla y León,114333,112922,124949,124262,113987,105249,111779,107216,104336,90408,91396,93417,92470,108575,117488,108064,92383,95080
8,Castilla - La Mancha,123243,112312,119582,120677,126227,128757,121092,120066,109479,101983,94891,89115,84836,80015,73788,62016,63309,60931
9,Cataluña,700799,708519,694914,647195,616650,576754,571690,570306,538916,507651,519367,512201,450062,445838,505903,501422,501668,508552
10,Comunitat Valenciana,463503,492676,483866,460963,448695,450286,396173,374919,374632,425691,372308,327874,275921,297070,249449,206077,199498,202655
11,Extremadura,62392,67116,68195,67670,72610,73152,62941,63248,61946,59922,67157,66043,62172,64535,61618,54241,51333,45539
12,Galicia,123253,122478,142352,124767,142733,136156,116452,114511,115757,95658,89965,115060,109598,122106,119515,134228,134023,114661
13,"Madrid, Comunidad de",542393,523861,553132,531721,528363,525474,471687,459560,481402,464376,380957,378298,369212,353148,341540,298201,283335,282680
14,"Murcia, Región de",174421,177265,185760,185266,184097,184226,173669,163357,142265,134970,132889,120395,118965,105441,89305,90093,84382,58827
15,"Navarra, Comunidad Foral de",37225,39488,35516,35613,35222,38918,38095,38085,37321,32830,34462,34195,30477,27828,28072,22554,18821,18547
16,País Vasco,117873,122730,129051,123555,115584,112465,109847,105398,107541,113344,97223,85635,86869,81677,147501,137616,129205,126297
17,"Rioja, La",14609,13819,11087,12162,11913,14144,14903,14035,14112,15857,13034,12312,11478,11393,7934,9534,7363,8793
18,Ceuta y Melilla,15116,14757,12621,12190,12044,12470,16090,12579,9686,9711,6603,8038,7673,7099,7129,6445,6064,5650

In [17]:
df_residuales_CCAA = pd.read_excel('./data/raw/aguas_residuales_CCAA_2000-20.xlsx')
df_residuales_CCAA.to_csv('./data/processed/aguas_residuales_CCAA_2000-2020', index=False)

In [18]:
df_reutilizada_CCAA = pd.read_excel('./data/raw/agua_reutilizada_CCAA_2000-20.xlsx')
df_reutilizada_CCAA.to_csv('./data/processed/aguas_reutilizada_CCAA_2000-2020', index=False)

In [19]:
df_embalsamada_CCAA = pd.read_csv('./data/raw/agua_embalsamada_CCAA_15052023.csv')
df_embalsamada_CCAA.to_csv('./data/processed/agua_embalsamada_CCAA_15052023', index=False)

In [20]:
df_embalsamada_CCAA

,Comunidad,Capacidad,Embalsamada,Porcentaje embalsamada,Variación,Porcentaje Variación
0,Alava,223,167,74.89,3,1.35
1,Albacete,727,264,36.31,-5,-0.69
2,Alicante,315,99,31.43,-1,-0.32
3,Almeria,224,26,11.61,-1,-0.45
4,Asturias,456,389,85.31,12,2.63
5,Avila,290,195,67.24,-5,-1.72
6,Badajoz,7698,2384,30.97,-24,-0.31
7,Barcelona,274,44,16.06,2,0.73
8,Burgos,139,108,77.70,1,0.72
9,Caceres,6758,4818,71.29,-43,-0.64
10,Cadiz,1821,506,27.79,-12,-0.66
11,Cantabria,575,247,42.96,2,0.35
12,Castellon,221,101,45.70,-2,-0.90
13,Ciudad Real,516,146,28.29,-3,-0.58
14,Cordoba,3318,606,18.26,-4,-0.12
15,Cuenca,1134,667,58.82,-5,-0.44
16,Girona,294,102,34.69,-3,-1.02
17,Granada,1170,371,31.71,-3,-0.26
18,Guadalajara,2975,850,28.57,-18,-0.61
19,Guipuzcoa,29,22,75.86,1,3.45
20,Huelva,1508,613,40.65,-8,-0.53
21,Huesca,2596,1126,43.37,-42,-1.62
22,Jaen,2363,635,26.87,-3,-0.13
23,La Coruña,359,303,84.40,3,0.84
24,La Rioja,190,134,70.32,-2,-1.05
25,Leon,1772,1304,73.59,-21,-1.19
26,Lleida,1145,427,37.29,0,0.00
27,Lugo,895,673,75.20,-20,-2.23
28,Madrid,1060,676,63.77,-11,-1.04
29,Malaga,616,204,33.12,-5,-0.81
30,Murcia,148,42,28.38,0,0.00
31,Navarra,1019,615,60.35,-9,-0.88
32,Orense,1603,1177,73.42,-31,-1.93
33,Palencia,488,252,51.64,-11,-2.25
34,Pontevedra,363,310,85.40,-1,-0.28
35,Salamanca,3482,2183,62.69,-11,-0.32
36,Segovia,81,69,84.77,-1,-1.23
37,Sevilla,921,335,36.37,-5,-0.54
38,Soria,267,190,71.16,-4,-1.50
39,Tarragona,237,201,84.81,-5,-2.11
40,Teruel,250,126,50.40,-5,-2.00
41,Toledo,451,252,55.88,-1,-0.22
42,Valencia,1420,855,60.21,-19,-1.34
43,Valladolid,6,6,100.00,0,0.00
44,Zamora,1767,1215,68.76,-1,-0.06
45,Zaragoza,1905,998,52.39,-63,-3.31

In [12]:
df_poblacion = pd.read_excel('./data/raw/poblacion_2021_CCAA.xlsx')
df_poblacion.to_csv('./data/processed/poblacion_2019-21_CCAA', index=False)
df_poblacion

                                     2021      2020      2019
0                         Total  47385107  47450795  47026208
1                     Andalucía   8472407   8464411   8414240
2                        Aragón   1326261   1329391   1319291
3       Asturias, Principado de   1011792   1018784   1022800
4                Balears, Illes   1173008   1171543   1149460
5                      Canarias   2172944   2175952   2153389
6                     Cantabria    584507    582905    581078
7               Castilla y León   2383139   2394918   2399548
8          Castilla - La Mancha   2049562   2045221   2032863
9                      Cataluña   7763362   7780479   7675217
10         Comunitat Valenciana   5058138   5057353   5003769
11                  Extremadura   1059501   1063987   1067710
12                      Galicia   2695645   2701819   2699499
13         Madrid, Comunidad de   6751251   6779888   6663394
14            Murcia, Región de   1518486   1511251   1493898
15  Navarra, Comunidad Foral de    661537    661197    654214
16                   País Vasco   2213993   2220504   2207776
17                    Rioja, La    319796    319914    316798
18                        Ceuta     83517     84202     84777
19                      Melilla     86261     87076     86487

In [13]:
df_embalsamada_prov = pd.read_csv('./data/raw/embalses_prov.csv', dtype=str)
df_embalsamada_prov =  df_embalsamada_prov[['Lat.', 'Long.', 'Título', 'Cuenca', 'Embalse', 'Río',
       'capacidad de agua embalsada', 'capacidad actual', 'porcentaje']]
df_embalsamada_prov

,Lat.,Long.,Título,Cuenca,Embalse,Río,capacidad de agua embalsada,capacidad actual,porcentaje
0,43.2199023861522,-1.8789076544221532,"Embalse de Añarbe, España",Cantábrico Oriental,Añarbe,Añarbe,38,28,"73,7"
1,43.0814416305249,-2.1256843792932876,"Embalse de Ibiur, España",Cantábrico Oriental,Ibiur,Ibiur,8,6,"75,0"
2,43.1521001,-3.2954742,"Embalse de Ordunte, España",Cantábrico Oriental,Ordunte,Ordunte,22,15,"68,2"
3,43.2781862896215,-1.774801915855786,"Embalse de San Antón, España",Cantábrico Oriental,San Antón,Endara,5,4,"80,0"
4,43.2890895,-5.9213963,"Embalse de Alfilorios, España",Cantábrico Occidental,Alfilorios,Barrea,8,6,"75,0"
...,...,...,...,...,...,...,...,...,...
365,42.119376017266184,1.5973174878672,"Embalse de La Llosa del Cavall, España",Cuencas Internas de Cataluña,La Llosa del Cavall,Cardener,80,26,"32,5"
366,41.13333,0.96667,"Embalse de Riudecanyes, España",Cuencas Internas de Cataluña,Riudecanyes,Riudecanyes,5,2,"40,0"
367,41.96994467744931,1.6028660887396031,"Embalse de Sant Pons, España",Cuencas Internas de Cataluña,Sant Pons,Cardener,24,16,"66,7"
368,41.97301183241172,2.3850692566665024,"Embalse de Sau, España",Cuencas Internas de Cataluña,Sau,Ter,165,65,"39,4"
369,41.97776,2.51652,"Embalse de Susqueda, España",Cuencas Internas de Cataluña,Susqueda,Ter,233,110,"47,2"

In [14]:
df_embalsamada_prov.columns = ['Lat', 'Long', 'Título', 'Cuenca', 'Embalse', 'Río',
       'capacidad de agua embalsada', 'capacidad actual', 'porcentaje']

In [15]:
df_embalsamada_prov['porcentaje'] = df_embalsamada_prov['porcentaje'].replace(',','.')

In [14]:
df_embalsamada_prov.porcentaje.replace(',','.').values

array(['73,7', '75,0', '68,2', '80,0', '75,0', '77,3', '90,2', '91,2',
       '8,3', '69,1', '50,0', '48,1', '91,2', '45,1', '54,2', '61,6',
       '39,4', '7,1', '90,0', '32,5', '45,9', '52,5', '21,4', '88,6',
       '60,0', '55,4', '90,0', '94,5', '30,8', '40,0', '23,5', '54,9',
       '32,1', '39,1', '79,8', '90,0', '83,3', '58,7', '60,0', '90,9',
       '76,5', '33,3', '38,7', '68,2', '86,4', '77,2', '47,6', '72,7',
       '58,2', '63,6', '66,7', '72,2', '83,3', '81,8', '80,0', '80,6',
       '77,3', '19,8', '86,8', '33,2', '81,8', '28,9', '92,9', '27,1',
       '67,6', '88,9', '61,0', '10,2', '80,0', '24,2', '46,2', '58,2',
       '85,7', '49,4', '21,7', '100,0', '31,8', '49,0', '39,0', '100,0',
       '60,3', '89,5', '100,0', '60,0', '74,0', '80,0', '100,0', '83,3',
       '20,0', '75,0', '48,9', '43,3', '85,7', '37,1', '61,7', '61,1',
       '53,7', '67,9', '87,1', '28,4', '18,8', '55,2', '40,0', '97,7',
       '25,0', '100,0', '75,8', '30,3', '0,8', '21,6', '50,0', '84,6',
       '57,1', '61,0', '83,3', '54,5', '76,5', '64,3', '41,9', '11,6',
       '100,0', '68,4', '43,5', '40,0', '39,6', '54,0', '44,9', '37,8',
       '28,6', '62,3', '61,5', '39,1', '42,9', '88,3', '39,3', '28,1',
       '94,3', '82,3', '70,7', '87,0', '81,8', '16,4', '23,1', '39,7',
       '66,7', '57,1', '15,2', '34,6', '86,7', '40,5', '16,9', '9,1',
       '40,0', '3,1', '43,5', '81,0', '26,2', '79,2', '9,3', '13,4',
       '77,8', '35,3', '100,0', '80,0', '52,7', '68,6', '56,3', '60,0',
       '71,4', '72,7', '21,5', '20,0', '8,7', '50,0', '0,0', '48,1',
       '50,4', '41,7', '26,3', '51,2', '50,0', '87,5', '89,7', '75,0',
       '82,8', '66,7', '92,9', '16,7', '13,0', '22,2', '29,9', '51,9',
       '21,5', '40,0', '66,7', '20,2', '16,2', '19,0', '19,4', '35,8',
       '13,1', '39,0', '81,4', '10,0', '42,9', '51,5', '29,4', '20,7',
       '38,5', '68,6', '13,7', '15,5', '42,9', '20,2', '47,4', '18,8',
       '18,3', '20,4', '16,7', '71,5', '69,0', '44,8', '25,9', '25,8',
       '14,9', '15,2', '64,3', '25,0', '26,2', '14,3', '13,6', '31,2',
       '12,2', '46,7', '18,4', '28,3', '20,2', '42,1', '15,3', '29,1',
       '20,6', '81,1', '54,5', '40,2', '77,4', '57,6', '22,4', '53,4',
       '48,9', '50,0', '70,3', '12,1', '22,7', '26,7', '83,3', '70,0',
       '36,1', '43,5', '71,4', '69,2', '40,0', '32,5', '69,2', '11,5',
       '66,7', '51,4', '0,0', '52,1', '0,0', '68,8', '41,6', '76,2',
       '33,3', '94,6', '70,4', '50,0', '85,3', '89,8', '65,5', '5,1',
       '56,8', '69,2', '70,0', '30,0', '38,4', '50,0', '66,7', '73,5',
       '44,9', '81,8', '60,0', '71,4', '68,2', '62,4', '63,6', '7,9',
       '70,4', '59,5', '36,1', '75,6', '93,8', '62,5', '8,3', '95,5',
       '51,2', '95,7', '71,7', '66,7', '57,6', '78,0', '20,0', '40,0',
       '50,0', '51,3', '100,0', '55,6', '52,6', '50,0', '76,5', '86,5',
       '55,0', '58,8', '18,6', '53,5', '75,0', '60,0', '15,4', '80,0',
       '44,0', '54,3', '80,0', '83,3', '53,3', '100,0', '12,6', '91,0',
       '16,7', '50,0', '90,0', '71,5', '40,1', '7,1', '9,3', '33,3',
       '22,2', '60,0', '20,0', '90,0', '31,8', '80,0', '68,3', '93,9',
       '25,0', '42,9', '39,0', '72,2', '74,7', '66,7', '40,0', '72,2',
       '25,0', '62,5', '35,3', '41,0', '37,6', '32,5', '40,0', '66,7',
       '39,4', '47,2'], dtype=object)

In [16]:
df_embalsamada_prov[['Lat', 'Long']].astype(str, copy=True)

                    Lat                 Long
0      43.2199023861522  -1.8789076544221532
1      43.0814416305249  -2.1256843792932876
2            43.1521001           -3.2954742
3      43.2781862896215   -1.774801915855786
4            43.2890895           -5.9213963
..                  ...                  ...
365  42.119376017266184      1.5973174878672
366            41.13333              0.96667
367   41.96994467744931   1.6028660887396031
368   41.97301183241172   2.3850692566665024
369            41.97776              2.51652

[370 rows x 2 columns]

In [17]:
df_embalsamada_prov

,Lat,Long,Título,Cuenca,Embalse,Río,capacidad de agua embalsada,capacidad actual,porcentaje
0,43.2199023861522,-1.8789076544221532,"Embalse de Añarbe, España",Cantábrico Oriental,Añarbe,Añarbe,38,28,"73,7"
1,43.0814416305249,-2.1256843792932876,"Embalse de Ibiur, España",Cantábrico Oriental,Ibiur,Ibiur,8,6,"75,0"
2,43.1521001,-3.2954742,"Embalse de Ordunte, España",Cantábrico Oriental,Ordunte,Ordunte,22,15,"68,2"
3,43.2781862896215,-1.774801915855786,"Embalse de San Antón, España",Cantábrico Oriental,San Antón,Endara,5,4,"80,0"
4,43.2890895,-5.9213963,"Embalse de Alfilorios, España",Cantábrico Occidental,Alfilorios,Barrea,8,6,"75,0"
...,...,...,...,...,...,...,...,...,...
365,42.119376017266184,1.5973174878672,"Embalse de La Llosa del Cavall, España",Cuencas Internas de Cataluña,La Llosa del Cavall,Cardener,80,26,"32,5"
366,41.13333,0.96667,"Embalse de Riudecanyes, España",Cuencas Internas de Cataluña,Riudecanyes,Riudecanyes,5,2,"40,0"
367,41.96994467744931,1.6028660887396031,"Embalse de Sant Pons, España",Cuencas Internas de Cataluña,Sant Pons,Cardener,24,16,"66,7"
368,41.97301183241172,2.3850692566665024,"Embalse de Sau, España",Cuencas Internas de Cataluña,Sau,Ter,165,65,"39,4"
369,41.97776,2.51652,"Embalse de Susqueda, España",Cuencas Internas de Cataluña,Susqueda,Ter,233,110,"47,2"

In [5]:
df_embalsamada_prov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 370 entries, 0 to 369
Data columns (total 9 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Lat                          366 non-null    object
 1   Long                         366 non-null    object
 2   Título                       370 non-null    object
 3   Cuenca                       370 non-null    object
 4   Embalse                      370 non-null    object
 5   Río                          370 non-null    object
 6   capacidad de agua embalsada  370 non-null    object
 7   capacidad actual             370 non-null    object
 8   porcentaje                   370 non-null    object
dtypes: object(9)
memory usage: 26.1+ KB

In [26]:
df_embalsamada_prov['porcentaje'][0].repla

'73,7'

In [18]:
df_embalsamada_prov['porcentaje']

0      73,7
1      75,0
2      68,2
3      80,0
4      75,0
       ...
365    32,5
366    40,0
367    66,7
368    39,4
369    47,2
Name: porcentaje, Length: 370, dtype: object

In [23]:
df_embalsamada_prov.to_csv('./data/processed/embalses_prov.csv', index=False)

In [19]:
df_embalsamada_prov.insert(0, 'id', range(1, 1 + len(df_embalsamada_prov)))

In [11]:
df_embalsamada_prov.to_csv('./data/processed/embalses_prov.csv', index=False)

In [20]:
df_embalsamada_prov.porcentaje = [i.replace(",", ".") for i in df_embalsamada_prov.porcentaje]

In [21]:
df_embalsamada_prov.porcentaje = pd.to_numeric(df_embalsamada_prov['porcentaje'], errors='coerce')

In [22]:
df_embalsamada_prov

,id,Lat,Long,Título,Cuenca,Embalse,Río,capacidad de agua embalsada,capacidad actual,porcentaje
0,1,43.2199023861522,-1.8789076544221532,"Embalse de Añarbe, España",Cantábrico Oriental,Añarbe,Añarbe,38,28,73.7
1,2,43.0814416305249,-2.1256843792932876,"Embalse de Ibiur, España",Cantábrico Oriental,Ibiur,Ibiur,8,6,75.0
2,3,43.1521001,-3.2954742,"Embalse de Ordunte, España",Cantábrico Oriental,Ordunte,Ordunte,22,15,68.2
3,4,43.2781862896215,-1.774801915855786,"Embalse de San Antón, España",Cantábrico Oriental,San Antón,Endara,5,4,80.0
4,5,43.2890895,-5.9213963,"Embalse de Alfilorios, España",Cantábrico Occidental,Alfilorios,Barrea,8,6,75.0
...,...,...,...,...,...,...,...,...,...,...
365,366,42.119376017266184,1.5973174878672,"Embalse de La Llosa del Cavall, España",Cuencas Internas de Cataluña,La Llosa del Cavall,Cardener,80,26,32.5
366,367,41.13333,0.96667,"Embalse de Riudecanyes, España",Cuencas Internas de Cataluña,Riudecanyes,Riudecanyes,5,2,40.0
367,368,41.96994467744931,1.6028660887396031,"Embalse de Sant Pons, España",Cuencas Internas de Cataluña,Sant Pons,Cardener,24,16,66.7
368,369,41.97301183241172,2.3850692566665024,"Embalse de Sau, España",Cuencas Internas de Cataluña,Sau,Ter,165,65,39.4
369,370,41.97776,2.51652,"Embalse de Susqueda, España",Cuencas Internas de Cataluña,Susqueda,Ter,233,110,47.2

In [16]:
pd.set_option('display.max_columns', None)

In [20]:
respuesta = ('./data/respuestas.json')

respuesta.json

AttributeError: 'str' object has no attribute 'json'

In [17]:
df_respuesta = pd.read_json('./data/respuestas.json')[]
df_respuesta

     ok                                               data
0  True  {'questions': {'question1': 'option1', 'questi...
1  True  {'questions': {'question1': 'Murica', 'questio...
2  True  {'questions': {'question1': 'option1', 'questi...